@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
max-width: 1090px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
body {
  background-image: url('../bg-img.webp');
  background-repeat: repeat-y; 
  background-position: center top;
  background-size: 100% auto; 
  background-attachment: scroll;

  @media screen and (min-width: 768px) {
    background-size: contain; 
    background-position: center top;
  }

  @media screen and (min-width: 1200px) {
    background-size: 100% auto; 
    background-attachment: fixed; 
  }
}