<footer class="footer">
  <div class="container container-footer">
    <div class="game" id="game-footer">
      <div class="footer-logo">
        <svg class="footer-svg">
<use href="#icon-logo">
        </svg>
      </div>
      <ul class="footer-list">
        <li class="footer-item">Тел: +38 (123) 456 78 90</li>
        <li class="footer-item">E-Mail: codingmagic@gmail.com</li>
        <li class="footer-item">Facebook: CodingMagic</li>
        <li class="footer-item">Twitter: CodingMagic</li>
        <li class="footer-item">Instagram: CodingMagic</li>
      </ul>
      <div class="footer-sub-wrapper">
        <div class="footer-sub">
          <input
            type="email"
            class="footer-input"
            placeholder="Ваша ел. адреса..."
            required
          />
          <button class="footer-button" data-modal-open>Підписатись</button>
        </div>
        <p class="footer-text">
          *Підписавшись, Ви зможете отримувати інформацію про новинки на сайті
        </p>
      </div>

    </div>
  </div>
</footer>
