<div class="MD-overlay">
  <div class="modalWindow">
    <div class="MD-fon"></div>
    <button>
      <svg class="MD-cross">
        <use href="#icon-cross"></use>
      </svg>
    </button>
    <p class="MD-zag">Привіт!</p>
    <p class="MD-mainText">
      Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що вам
      сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно провести
      час!
    </p>
    <ul class="MD-logIn">
      <li class="MD-logIn-zag">Введіть своє ім'я</li>
      <li>
        <input placeholder="Ваше ім'я..." class="MD-logIn-input1" type="text" />
      </li>
      <li><button class="MD-logIn-btn">зберегти</button></li>
    </ul>
  </div>
  <div class="MD-thanks">
    <button>
      <svg class="MD-thanks-cross">
        <use href="#icon-cross"></use>
      </svg>
    </button>
    <div class="MD-thanks-fon">
      <p class="MD-thanks-zag">Дякую за підписку!</p>
    </div>
  </div>
</div>
