<section class="biggestNum">
<p class="biggestNum-zag">Введіть 3 числа</p>
<ul class="biggestNum-inputs">
    <li><input class="biggestNum-input biggestNum-input-1" placeholder="Введіть число" type="number"></li>
    <li><input class="biggestNum-input biggestNum-input-2" placeholder="Введіть число" type="number"></li>
    <li><input class="biggestNum-input biggestNum-input-3" placeholder="Введіть число" type="number"></li>
</ul>
<p class="biggestNum-result">Найбільше число, яке ви ввели - (число)</p>
<div class="biggestNum-underline"></div>
</section>