  <section class="timeCalculator">
<p class="timeCalculator-zag">Калькулятор часу</p>
<!-- <div class="visokosnyi-year-input-shadow"> -->
    <input class="timeCalculator-input" type="search" placeholder="Введіть число">
<input type="submit" name="" value="" class="timeCalculator-search-button">
<svg class="timeCalculator-search-svg">
    <use href="./images/icons/symbol-defs1.svg#icon-search"></use>
</svg>
<svg class="timeCalculator-points">
    <use href="./images/icons/symbol-defs2.svg#points"></use>
</svg>
        <div class="visokosnyi-year-underline"></div>
<ul class="timecalculator-timer">
    <li class = "timer-years">0р.</li>
    <li>:</li>
    <li class="timer-mounts">0міс.</li>
    <li>:</li>
    <li class="timer-days">0дн</li>
    <li>:</li>
    <li class="timer-minutes">0хв.</li>
    <li>:</li>
    <li class="timer-seconds">0с.</li>
</ul>
 <div class="timeCalculator-underline"></div>
        </section>
