input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--colorText);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.calc-text-box {
  display: flex;
  justify-content: center;
}

#game-4 {
  padding-top: 35px;
}

.calc-box {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    gap: 38px;
  }
}

.calc-input, .calc-input-second {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextInput);
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
  max-width: 200px;
  height: 40px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: var(--backgroundInput);
  


  @media screen and (min-width: 768px) {
    width: 120px;
    height: 35px;
    padding: 10px 20px;
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    width: 135px;
  }
}

.calc-input:hover, .calc-input-second:hover {
  background: var(--colorText);
  color: white;
  box-shadow: none;

}

.calc-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: gray;
  border-radius: 20px;
  padding: 8px 12px;
  width: 35px;
  height: 35px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: var(--colorText);

  @media screen and (min-width: 768px) {
    width: 27px;
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
  }
}

.calc-button:hover {
  background: gray;
  color: var(--colorText);
  box-shadow: none;
}

.calc-equal {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--textColor);
  border-radius: 20px;
  padding: 8px 12px;
  width: 35px;
  height: 35px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  background: #000;

  @media screen and (min-width: 768px) {
    width: 27px;
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
  }
}

.calc-equal:hover {
  background: gray;
  color: var(--colorText);
  box-shadow: none;
}

.calc-select {
  display: grid;
  grid-template-columns: repeat(2, 35px);
  gap: 10px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 30px);
    gap: 12px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--colorText);
  margin: 0 auto;
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    width: 400px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 536px;
    margin-top: 34px;
  }
}