:root {
  --font-family: "Montserrat Alternates", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Sacramento", sans-serif;
}
 #game-footer {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-items: center;
      gap: 30px;
      padding: 30px 0;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 0;
      gap: 40px;
    }
 }
 .footer-button {
    border-radius: 20px;
	padding: 6px;
	width: 100px;
	height: 30px;
	background: var(--colorText);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 8px;
	color: var(--buttontTextColor);

	@media screen and (min-width: 768px) {
	  padding: 8px;
	  width: 104px;
	  height: 33px;
	  font-size: 10px;
	}

	@media screen and (min-width: 1200px) {
padding: 10px;
	width: 107px;
	height: 35px;
	  font-size: 12px;
	}
 }
  .footer-button:hover {
    border-radius: 20px;
padding: 6px;
	width: 100px;
	height: 30px;
	background: gray;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 8px;
	color: var(--colorText);

	@media screen and (min-width: 768px) {
padding: 8px;
	width: 104px;
	height: 33px;
	  font-size: 10px;
	}

	@media screen and (min-width: 1200px) {
padding: 10px;
	width: 107px;
	height: 35px;
	  font-size: 12px;
	}
 }
 .footer-text {
    font-family: var(--font-family);
	font-weight: 400;
	font-size: 6px;
	color: var(--colorText);

	@media screen and (min-width: 768px) {
	  font-size: 8px;
	}

	@media screen and (min-width: 1200px) {
	  font-size: 10px;
	}
 }
 .footer-input {
border-radius: 16px;
padding: 6px 76px 6px 6px;
width: 204px;
height: 35px;
	background: var(--backgroundInput);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	color: #7e7e7e;

	@media screen and (min-width: 768px) {
border-radius: 18px;
padding: 8px 78px 8px 8px;
width: 202px;
height: 33px;
	}

	@media screen and (min-width: 1200px) {
border-radius: 20px;
padding: 10px 80px 10px 10px;
width: 204px;
height: 35px;
	}
 }
 .footer-item {
    font-family: var(--font-family);
	font-weight: 400;
	font-size: 8px;
	line-height: 170%;
	color: var(--colorText);

	@media screen and (min-width: 768px) {
	  font-size: 10px;
	}

	@media screen and (min-width: 1200px) {
	  font-size: 12px;
	}
 }
 .footer-sub {
    display: flex;
    gap: 30px;

    @media screen and (min-width: 768px) {
      gap: 40px;
    }

    @media screen and (min-width: 1200px) {
      gap: 50px;
    }
 }
 .footer-sub-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @media screen and (min-width: 768px) {
      gap: 15px;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      gap: 20px;
      align-items: flex-start;
    }
 }

 .footer-svg {
    width: 140px;
	height: 50px;
      fill: var(--colorText);
        color: var(--colorText);

	@media screen and (min-width: 768px) {
	  width: 150px;
	  height: 60px;
	}

	@media screen and (min-width: 1200px) {
	  width: 165px;
	  height: 70px;
	}
 }