.rockPaperScissors{
padding-top: 36px;
}

.rps__container{
 display: flex;

}
.rps__title {
font-family: "Montserrat Alternates", sans-serif;
 font-weight: 400;
font-size: 16px;
color: #000;
margin-bottom:  36px;
border-top: #000 solid 1px;
width: 600px;
padding-top: 20px;
margin: 0 auto  36px auto;
text-align: center;

}
.rps__box {
  margin-right: 104px;
  margin-left: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.rps__list {
  display: flex;
  flex-direction: row;
  gap: 38px;
}
.rps__item {
  border-radius: 20px;
padding: 10px;
width: 60px;
height: 60px;
background: #000;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.rps__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}
.rps__info {
   font-family: "Montserrat Alternates", sans-serif;
  margin-top: 36px;
  font-weight: 400;
font-size: 12px;
color: #fff;
border-radius: 20px;
padding: 10px 20px;
width: 182px;
height: 35px;
background: #000;

}
.rps__button {
   
}
.rps__wrapper {
}
.rps__text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
font-size: 15px;
line-height: 170%;
color: #000;
}
.rps__counters {
}
.rps__counter {
}
.rps__count__name {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
font-size: 15px;
line-height: 170%;
color: #000;
}
