.timeCalculator{
    position: static;
}
.timeCalculator-zag{
      width: 100vw;
      display: flex;
 justify-content: center;
width: 283px;
height: 20px;
 margin: 0 auto;
z-index: 10;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
white-space: nowrap;
color: #000000;
}

.timeCalculator-input::placeholder{
     width: 160px;
height: 15px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */
padding-left: 6px;
color: #7E7E7E;

z-index: 11;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.timeCalculator-input{
       background-color: #D7D7D7;
   margin-left: 25vw;
    z-index: 10;
    width: 135px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.timeCalculator-search-button{
  margin-left: -1vw;
    z-index: 8;
    width: 35px;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #000000;
}
.timeCalculator-search-svg{
       width: 15px;
    height: 15px;
 fill: white;
    z-index: 9;
      position: absolute;
    top: 67px;
    left: 37.9vw;
}
.timeCalculator-points{
 
z-index: 10;

left: 700px;
}
.timeCalculator-timer{
    /* 3 дн. 15:45:01 */


width: 76px;
height: 15px;


font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;


color: #000000;

z-index: 10;
}
.timecalculator-timer{
 
    display: flex;
    z-index: 10;
}
.timeCalculator-timer{
  
z-index: 10;




    /* 3 дн. 15:45:01 */


width: 76px;
height: 15px;


font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;


color: #000000;

z-index: 10;
}
.timeCalculator-underline{
      width: 536px;
    height: 1px;
    background-color: #000000;
    z-index: 10;
  
}